*{
    box-sizing: border-box;
}
body
{
    margin: 0;
   min-height: 100%;
    
}
.addressForm
{
    height: 100%;
}
.header
{
    padding: 15px 0;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.logo
{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    width: 80%;
    justify-content:start;
   
}
.logo_text,.logo_text_payroll
{
    font-family: 'Oswald';
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0px;
    color: rgb(244, 130, 96);
    line-height: 20px;
     
}
.logo_text_book
{
    color: rgb(53, 47, 79);
}
.logo_icon
{
    height: 50px;
    width: 40px;
}
.addressForm
{
    min-height: calc(100%-100px);
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.form{
    width: 65%;
    background-color: white;
    box-shadow: 5px solid lightgray;
    border-radius: 8px;
    margin-top: 5%;
    margin-bottom: 5%;
    justify-content: center;
    padding-bottom: 2%;
}
.form_header
{
    letter-spacing: 0px;
    border-radius: 8px 8px 0px 0px;
    font-family: 'Oswald';
    text-transform: uppercase;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 19px;
    background-color: rgb(239, 96, 244);
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    
}
.cancel_icon
{
    height: 25px;
    width: 25px;
    float: right;
    cursor: pointer;
}
.cancel_icon:hover
{
    transform: scale(1.5);
}
.form_input_content
{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: left;
    justify-content: center;
    
}
.form_input_label
{
    min-width: 140px;
    padding: 12px 12px 12px 4px;
    display: inline-block;
}
.text
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    opacity: 1;
    color: #42515f;
    
}
.input{
    width: 100%;
    padding: 12px;
    border: 1px solid white;
    background-color: lightcyan;
    outline: none;
}
.input:focus
{
    
    border:1px solid #42515f;
}
.form_contents
{
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    margin: 0 auto;
}
.phNo
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.phNo>input{
    margin-left: 5px;
}
.selects
{
    padding: 5px 12px 5px 12px;
    border:1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-size: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #42515f;
    background-color: transparent;
    min-width: 130px;
    outline: none;
}
.countryCode
{
    border:1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: transparent;
    outline: none;
}
.button
{
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    background: transparent;
    border:none;
    font-weight: 400;
    min-width: 100px;
    padding: 7px 7px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 3px;
    float: right;
    margin-left: 1%;
}
.button:hover
{
    transform: scale(1.1);
}
.submit_button
{
    background: green;
    font-weight: 400;
    min-width: 100px;
    padding: 7px 7px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 3px;
    float: left;
    margin-left: 10%;

}
.reset_button
{
    background: rgba(128, 128, 128, 0.898);
    margin-left:10px ;
}
.error
{
    color: red;
    font-style: italic;
    font-size: 15px;
}
.zipCodeclass
{
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 700px) {
    .form{
        width: 100%;
        min-height: 100%;
    }
    
    select{
        margin-bottom: 5px;
        width: 100%;
    }
    .button
    {
        max-width: 120px;
        margin: 5px;
    }
    tr
    {
        display: flex;
        flex-direction: column;
    }
    #table_label
    {
        display: none;
    }
    .addressForm
    {
        min-height: 100%;
    }
}